html {
    background: linear-gradient(#6a8c8f27, #6a8c8f37);
    background-attachment: fixed;
}

* {
    color: #3e3e3e;
    font-family: "Inter", "IBM Plex Sans JP";
}

a {
    text-decoration: none;
    color: #425759;
    transition: 0.2s;

}

a:hover {
    color: #6a8c8f;
    transition: 0.2s;
}

/*usu #6a8c8f kri #425759 */
.contents {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 40px;
    transition: 0.3s;

    @media (max-width: 900px) {
        width: 90%;
        transition: 0.3s;
        display: block;
    }
}

.box {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
    background-color: #fdfdfd;
    text-align: center;
    padding: 1em 0em 0em 0em;
    margin: auto;
    margin-bottom: 40px;
    transition: 0.3s;
}

.box:hover {
    box-shadow: 0px 6px 15px 0px rgba(96, 120, 122, 0.83);
    transition: 0.3s;
}

header {
    width: 70%;
    height: 60px;
}

.box,
#head {
    @media (max-width: 900px) {
        width: 90%;
        transition: 0.3s;
    }
}

#head>a {
    margin: 0;
    font-weight: 800;
    color: #506a6c;
    font-size: 35px;
}

#box1 {
    text-align: left;
    width: 60%;
    height: 300px;
    line-height:30px;
    @media (max-width: 900px) {
        width: 100%;
    }
}

#box2 {
    text-align: left;
    width: 40%;
    height: 300px;

    @media (max-width: 900px) {
        width: 100%;
        height: 200px;

    }
}

#box1>p,
#box2>p,
#box2>a {
    width: 95%;
    padding-left: 20px;

    @media (max-width: 900px) {
        width: 90%;
    }
}

#box1>h2,
#box2>h2 {
    padding-left: 20px;
}

#box2>a {
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

#box3 {
    width: 80%;
    height: 300px;

    @media (max-width: 900px) {
        width: 100%;
    }
}

#box3 h2 {
    text-align: left;
    padding-left: 20px;
}

#box3 p,
#box3 h3 {
    text-align: left;
    padding-left: 20px;
    width: 94%;

    @media (max-width: 900px) {
        width: 93%;
    }
}

#box3 h3 {
    color: #5e5e5e
}

#box4 {
    width: 100%;
    width: 20%;
    height: 300px;
    position: relative;
    overflow: scroll;

    @media (max-width: 900px) {
        width: 100%;
    }
}

#b4-nkm {
    display: grid;
}

#b4-nkm>a {
    margin-bottom: 15px;
    font-family: "IBM Plex Mono";
    font-weight: bold;
}

.archives{
    display: grid;
}

.archives > a{
    margin-bottom: 15px;
    font-family: "IBM Plex Mono";
}