*{
    color: #3e3e3e;
    font-family: "Inter","IBM Plex Sans JP";
}
a {text-decoration: none; color: #425759;}
/*usu #6a8c8f kri #425759 */
.contents{
    width: 70%;
    margin: auto;
    display: flex;
    gap: 40px;
    transition: 0.3s;
    @media (max-width: 900px) {width: 90%; transition: 0.3s; display: block;}
}
.box{
    width: 70%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.35);
    background-color: #fdfdfd;
    text-align: center;
    padding: 1em 0em 0em 0em;
    transition: 0.3s;
    margin: auto;
    margin-bottom: 40px;
}

.box,#head{    @media (max-width: 900px) {width: 90%; transition: 0.3s;}}

#head > a {
    margin: 0;
    font-weight: 800;
    color: #506a6c;
    font-size:35px;
}

#box1{
    text-align: left;
    width: 60%;
    height: 300px;
    @media (max-width: 900px) {width: 100%;}
}
#box2{
    text-align: left;
    width: 40%;
    height: 300px;
    @media (max-width: 900px) {width: 100%;}
}

#box1 > p,#box2 > p,a{
    width: 95%; padding-left: 20px;
    @media (max-width: 900px) {width: 90%;}
}
#box1 > h2,#box2 > h2{padding-left: 20px;}
#box2 > a{font-weight: bold;}