
  @keyframes slide-out { to { transform: translateX(-20px); opacity: 0; } }
  @keyframes slide-in { from { transform: translateX(20px); opacity: 0; } }
  @keyframes scale-out { to { transform: scale(0.9); opacity: 0; } }
  @keyframes scale-in { from { transform: scale(1.1); opacity: 0; } }

  main {
    view-transition-name: main;
    contain: paint;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #333;
  }

  #page1, #page2, #page3{
    max-width: 500px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1.5px solid #333;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  button{
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
    margin-left: -1px;
  }
button:last-of-type{
    border-radius: 0px 5px 5px 0px;
}
button:first-of-type{
    border-radius: 5px 0px 0px 5px;
}
  button:hover{
    background-color: #f0f0f0;
    z-index: 2;
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
    z-index: 20;
  }
  a{
    text-decoration: none;
    color: #333;
  
  }